# Java and Gradle
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.tmp
*.swp
*.swo
*.DS_Store
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.ipr
*.iws
*.bak
*.tmp
*.swp
*.swo
*.vscode/

# OS
Thumbs.db
.DS_Store

# Docker
*.pid
*.seed
*.pid.lock

# Kubernetes
*.yaml~

# JUnit
*.exec

# Spring Boot
*.h2.db
*.mv.db
*.trace.db

# Misc
node_modules/
.env

# Ignore test reports and coverage
**/build/reports/
**/build/tmp/
**/build/test-results/
**/build/jacoco/
**/build/jacocoTestReport/

# Ignore bin directories
**/bin/

# Ignore backup files
*~

# Ignore local scripts output
*.local

# Ignore MariaDB dumps/backups
*.sql
*.sql.gz
